body {
  background-color: black;
}
.content-pai-carrossel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  position: absolute;
}
.date-carrossel-content {
  background: black;
  color: grey;
  width: fit-content;
  display: flex;
  height: 430px;
  gap: 5vw;
  z-index: 1;
  position: relative;
  transform: translateX(-14vw);
}
.item-carrossel-content {
  position: relative;
  width: 38vw;
  color: white;
  display: grid;
  place-items: center;
  z-index: 3;
}
.item-carrossel-content:nth-child(1) {
  background-color: blue;
  left: 0px;
}
.item-carrossel-content:nth-child(2) {
  background-color: green;
  left: 0px;
}
.item-carrossel-content:nth-child(3) {
  background-color: lightblue;
  left: 0px;
}
.item-carrossel-content:nth-child(4) {
  background-color: darkgray;
  left: 0px;
}
.item-carrossel-content:nth-child(5) {
  background-color: lightcoral;
  left: 0px;
}

.button-next-carrossel {
  position: absolute;
  width: 68px;
  height: 40px;
  background-color: black;
  color: white;
  top: 25vh;
  left: 0;
  z-index: 5;
}
